@import "tailwindcss";

:root {

--primary-blue:#1E3A8A;

--safety-green:#16A34A;

--gov-gold:#D97706;

}

.no-scrollbar {
  -ms-overflow-style: none;   /* IE / Edge */
  scrollbar-width: none;      /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome / Safari */
}

